<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de Tarefas - Registro de usuário</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body class="text-center">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #469536; color:#fff;" th:fragment="cabecalho">
		<a class="navbar-brand" href="#" style="color:#fff;">Gerenciador de Tarefas</a>
	</nav>
	<div class="container">
		<h3 class="display-4">Registrar novo usuário</h3>
		<hr>
		<form class="form-horizontal" action="/registration" method="post" th:object="${usuario}">
			<div class="row">
				<div class="form-group col-md-6 offset-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('email')}">
						<label th:errors="*{email}" class="validation-message"></label>
					</div>
					<label>E-mail:</label> <input type="text" class="form-control"
						th:field="*{email}">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 offset-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('senha')}">
						<label th:errors="*{senha}" class="validation-message"></label>
					</div>
					<label>Senha:</label> <input type="password" class="form-control"
						th:field="*{senha}">
				</div>
			</div>
			<button type="submit" class="btn btn-success">Registrar</button>
		</form>
	</div>
	<div th:replace="fragmentos/fragmentos :: rodape"></div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>